.FooterRightBlock {
  margin-bottom: 16px;
}

@media (max-width: 1025px) and (min-width: 768px) {
  .FooterRightBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }
}

@media (max-width: 768px) and (min-width: 375px) {
  .FooterRightBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }
}

.SpanTitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 38px;
}

.SpanTitleBig {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 38px;


}

@media (max-width: 1025px) and (min-width: 768px) {
  .SpanTitleBig {
    font-size: 14px;
  }
}

@media (max-width: 768px) and (min-width: 375px) {
  .SpanTitleBig {
    font-size: 14px;
  }
}

.UlGroup {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  row-gap: 4px;
}

@media (max-width: 1025px) and (min-width: 768px) {
  .UlGroup {
    align-items: center;
  }
}

@media (max-width: 768px) and (min-width: 375px) {
  .UlGroup {
    justify-content: center;
    align-items: center;
  }
}

.UlSecondary {
  display: flex;
  padding: 0;
  margin: 0;
  column-gap: 8px;
  list-style: none;
}

@media (max-width: 1025px) and (min-width: 768px) {
  .ImgCard {
    width: 42px;
  }
}

@media (max-width: 768px) and (min-width: 375px) {
  .ImgCard {
    width: 42px;
  }
}
