//Product quantity

.quantitySelectorContainer {
  margin-bottom: 0px;
  @media (max-width: 768px) and (min-width: 375px) {
    margin: 0;
  }
  .quantitySelectorTitle {
    display: none;
  }

  .quantitySelectorStepper {
    :global(.vtex-numeric-stepper-wrapper) {
      :global(.vtex-numeric-stepper-container) {
        :global(.vtex-numeric-stepper__input) {
          width: 32px;
          height: 49px;
          border-left-width: 0px;
          border-right-width: 0px;
          border-top-width: 1px;
          border-bottom-width: 1px;
          border-color: $cccccc;
          color: $gray;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          padding: 0;
        }
        :global(.vtex-numeric-stepper__plus-button-container) {
          height: 49px;
          :global(.vtex-numeric-stepper__plus-button) {
            font-family: "Open Sans", sans-serif;
            height: 49px;
            border-top-width: 1px;
            border-bottom-width: 1px;
            border-color: $cccccc;
            color: $black;
            border-radius: 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
          }
        }
        :global(.vtex-numeric-stepper__minus-button-container) {
          height: 49px;
          :global(.vtex-numeric-stepper__minus-button) {
            font-family: "Open Sans", sans-serif;
            height: 49px;
            border-top-width: 1px;
            border-bottom-width: 1px;
            border-color: $cccccc;
            color: $black;
            border-radius: 0;
            background-color: $white;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
    }
  }
}
