/*
0 - 600PX: Phone
600 - 900px: Table portrait
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query M3 */
/* Grid breakpoints */
.product-identifier__label,
.product-identifier__separator {
  display: none;
}

.product-identifier__value {
  float: right;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  color: rgba(146, 146, 146, 0.48);
}
@media (max-width: 1025px) and (min-width: 768px) {
  .product-identifier__value {
    text-align: left;
    float: left;
  }
}
@media (max-width: 768px) and (min-width: 375px) {
  .product-identifier__value {
    text-align: left;
    float: left;
  }
}